[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=CastCodesDev
GenericName=TerminalEmulator

Exec=cast-codes-dev %U
StartupWMClass=dev.castcodes.CastCodesDev

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.castcodes.CastCodesDev

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for castcodesdev:// URLs.
MimeType=x-scheme-handler/castcodesdev;
