[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=CastCodes
GenericName=TerminalEmulator

Exec=cast-codes %U
StartupWMClass=dev.castcodes.CastCodes

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.castcodes.CastCodes

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for castcodes:// URLs.
MimeType=x-scheme-handler/castcodes;
